name: Delete all old workflow runs

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_call:
    secrets:

      github-token:
        description: 'A token passed from the caller workflow'
        required: true
  workflow_dispatch:

 
jobs:
  define-matrix:
    runs-on: ubuntu-latest

    outputs:
      colors: ${{ steps.colors.outputs.colors }}

    steps:
      - name: Define Colors
        id: colors
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "colors=$(gh repo list --json nameWithOwner --template '[{{range .}} "{{.nameWithOwner}}",{{end}}]')" >> "$GITHUB_OUTPUT"

  delete-stale-workflow-runs:
    runs-on: ubuntu-latest
    needs: define-matrix
    strategy:
      matrix:
        color: ${{ fromJSON(needs.define-matrix.outputs.colors) }}

    steps:
      - name: Define Color
        env:
          color: ${{ matrix.color }}
        run: |
          echo "$color" > color
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ matrix.color }}
          retain_days: 3
          keep_minimum_runs: 5
